:root{
    --brand-1: #4263Eb;
    --brand-2: #364FC7;

    --grey0: #0a0c0d;
    --grey1: #212529;
    --grey2: #495057;
    --grey3: #868e96;
    --grey4: #dee2e6;
    --grey5: #f8f9fa;
    --grey-opacity-1: rgba(33, 37, 41, 0.5);
    --white-fixed: #ffffff;

    --like: #d7443e;

    --font-weight-title1: 700;
    --font-weight-title2: 600;
    --font-weight-text1: 400;
    --font-weight-text2: 400;
    --font-weight-text3: 400;

    --font-size-title1: 1.75rem;
    --font-size-title2: 1.25rem;
    --font-size-text1: 1rem;
    --font-size-text2: 0.875rem;
    --font-size-text3: 0.75rem;

    --line-height-title1: 2.5rem;
    --line-height-title2: 1.5rem;
    --line-height-text1: 1.75rem;
    --line-height-text2: 1rem;
    --line-height-text3: 1rem;
    
}