body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    width: 100%;
    background-color: var(--grey1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    padding: 0 8%;
    position: fixed;
}
.header__log_out{
    color: var(--grey5);
    cursor: pointer;
}
main{
    margin-top: 100px;
    width: 90%;
}
.profile__image{
    height: 3.125rem;

}
.create_post_and_suggestions__container{
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}
.posts__section{
    margin: 0 3%;
}
.suggestions__section{
    width: 35%;
}
.suggestions__title{
    margin: 1.25rem 0;
}
.profile__container{
    display: flex;
    align-items: center;
    margin: 1.25rem 0px;
}
.profile__image{
    margin-right: 0.625rem;
}
.profile__informations{
    height: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
    
}
.suggestion__profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create_post__section{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
}
.create_new_post{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-top: 0.3rem;
}
.create_new_post__input{
    padding: 0.6rem;
    width: 100%;
    color: var(--grey2);
    border: 2px solid var(--grey4);
    border-radius: 0.25rem;
}

.create_new_post__input:focus{
    border: 2px solid var(--brand-2);
}
.posts__section{
    margin: 0 3%;
}
.post__container{
    margin: 3.75rem 0;
}
.posts__title{
    margin: 3.125rem 0;
}
.post__headline{
    margin: 2.5rem 0;
}
.post__content{
    text-align: justify;
}
.buttons__container{
    margin: 1.25rem 0px;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.post__content{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.post__likes{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
}
@media (max-width: 1025px) {
    .create_post_and_suggestions__container{
        display: flex;
        flex-direction: column;
    }
    .create_post__section{
        width: 100%;
        padding: 0;
    }
    .suggestions__section{
        width: 100%;
        margin-top: 2.5rem;
    }
    .suggestions_list__container{
        overflow-x: auto;
    }
    .suggestions__list{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        min-width: 45rem;
        margin-bottom: 1rem;
    }
    .profile__container{
        flex-wrap: wrap;
    }
    .suggestion__profile{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

